* {
    box-sizing: border-box;
}

:root {
    /* Meaningful names based on function, not just the color name */
    --bdy-bg: linear-gradient(#9932CC, #1E90FF);
    --bdy-clr: white;
    --bdy-drk-mode-bg: black;

    --ftr-fs: 1.5rem;
    --hdr-ftr-lh: 5vh;
    --ftr-pad-blc: 1vh;
    --hdr-ftr-bg: skyblue;
    --hdr-txt-shdw: 0.2rem 0.2rem violet;

    --wrpr-mrgn: 1vh;

    --fad-img-h: 3vh;
    --fad-spn-mrgn: 2vh;
    --fad-spn-fs: 1.7rem;
    --fad-spn-drk-mode-bg: #BC8F8F;

    --img-hover-diff: 0.2vh;

    --lives-img-w: 4.5vh;
    --lives-mrgn-inln: 1vh;

    --btn-clicked-bg: #F08080;
    --btn-dscrption-mrgn: 0.5vh;
    --btn-mrgn: 1vh;
    --btn-pad: 0.5vh 1vh;
    --btn-fs: 1rem;
    --btn-fw: 700;
    --btn-brdr-rad: 1vh;

    --revealed-bg: lightgrey;
    --highlight-bg: coral;

    --cell-bg: grey;
    --cell-width: 4vh;
    --cell-transition: 1s;

    --bst-scores-td-brdr: white 0.05vh solid;
    --clr1: blue;
    --clr2: green;
    --clr3: red;
    --clr4: darkblue;
    --clr5: brown;
    --clr6: lightgreen;
    --clr7: violet;
    --clr8: rgb(14, 154, 209);
}

body {
    margin: 0;
    background: var(--bdy-bg);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--bdy-clr);
    text-align: center;
}

.wrapper {
    min-height: calc(100vh - 2*var(--hdr-ftr-lh) - 2*var(--ftr-pad-blc) - 4*var(--ftr-pad-blc) - 2*var(--wrpr-mrgn));
    margin: var(--wrpr-mrgn) auto;
}

button {
    margin: var(--btn-mrgn);
    padding: var(--btn-pad);
    font-size: var(--btn-fs);
    font-weight: var(--btn-fw);
    cursor: pointer;
    border-radius: var(--btn-brdr-rad);
}

button.unclickable {
    cursor: not-allowed;
}

button:hover {
    background-color: var(--clr8);
}

table {
    margin: 0 auto;
    text-align: center;
}